body {
  background-color: rgb(198, 244, 244);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
a {
  color: rgb(5, 150, 155);
}
a:hover {
  color: rgb(109, 113, 113);
}
h1 {
  text-align: center;
  font-weight: 800px;
  font-size: 36px;
  line-height: 1.5em;
  color: rgb(26, 71, 71);
}
header {
  margin-bottom: 30px;
}
form {
  display: flex;
  padding: 38px 56px;
  background-color: rgb(252, 233, 210);
  border-radius: 10px;
  box-shadow: 0px 20px 40px rgb(175, 147, 112);
  border-radius: 10px;
  margin-bottom: 30px;
}
.instructions {
  padding: 14px;
  border: 1px solid rgb(119, 128, 128);
  font-size: 16px;
  border-radius: 50px;
  line-height: 1.2em;
  width: 80%;
  color: rgb(26, 71, 71);
}
.submit-button {
  margin-left: 15px;
  padding: 10p 20px;
  background-color: rgb(5, 150, 155);
  color: azure;
  border: none;
  border-radius: 50px;
  width: 150px;
  font-size: 18px;
}
.poem {
  text-align: start;
  font-size: 18px;
  background-color: rgb(252, 233, 210);
  padding: 38px;
  line-height: 1.5em;
  border-left: 5px solid rgb(5, 150, 155);
  color: rgb(26, 71, 71);
  box-shadow: 0px 20px 40px rgb(175, 147, 112);
  border-radius: 10px;
  margin-bottom: 36px;
}
footer {
  text-align: center;
  font-size: 14px;
}
